<div th:fragment="footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
            <i>	Vehicle Management System </i>
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Address</h6>
          <ul class="footer-links">
            <li><b>Northwest Missouri State University</b></li>
            <li>800 University Drive</li>
            <li>Maryville, MO 64468, USA</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/assistance}">Help and Assistance</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2025 All Rights Reserved by <a href="#">Northwest: VMS</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<div th:fragment="admin-footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
            <i>Northwest Missouri State University</i> - Everything a college town needs and nothing it doesn’t. We are an active campus
            with a championship culture. Our goal is student success – every student, every day. We go beyond hands-on learning with
            profession-based learning. The kind of training that allows a student to know if they are on the right path for their
            individual journey. At Northwest, we support students in every facet of the college journey.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Address</h6>
          <ul class="footer-links">
            <li><b>Northwest Missouri State University</b></li>
            <li>800 University Drive</li>
            <li>Maryville, MO 64468, USA</li>
            <li>660.562.1212</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/login}">Login</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2025 All Rights Reserved by <a href="#">Northwest: VMS</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
